services:
  postgres:
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-app}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  redis-insight:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    volumes:
      - redis_insight_data:/data
    depends_on:
      - redis

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI

  inngest:
    image: inngest/inngest
    command: "inngest start"
    ports:
      - "8288:8288"
      - "8289:8289"
    environment:
      INNGEST_EVENT_KEY: ${INNGEST_EVENT_KEY:-deadbeefdeadbeef}
      INNGEST_SIGNING_KEY: ${INNGEST_SIGNING_KEY:-cafebabecafebabe}
      INNGEST_POSTGRES_URI: postgres://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@postgres:5432/${POSTGRES_DB:-app}
      INNGEST_REDIS_URI: ${REDIS_URL:-redis://redis:6379}
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
  redis_data:
  redis_insight_data:
